{% load static %}

<!-- Main Header Nav For Mobile -->
<div id="page" class="stylehome1 h0">
    <div class="mobile-menu">
        <div class="header stylehome1">
            <div class="d-flex justify-content-between">
                <a class="mobile-menu-trigger" href="#menu"><img src="{% static 'images/dark-nav-icon.svg' %}" alt=""></a>
                <a class="nav_logo_img" href="{% url 'home' %}"><img class="img-fluid mt20" src="https://res.cloudinary.com/geetechlab-com/image/upload/v1672595643/propertyDealzin9ja/header-logo2_pficy7.png" alt="pd9ja"></a>
                <a class="mobile-menu-reg-link" href="{% url 'profiles:profile_detail' request.user.profile.slug %}">
                    <img class="rounded-circle" width="30px" height="30px" src="{{request.user.profile.image_url}}" alt="{{request.user.username}}">
                </a>
            </div>
        </div>
    </div><!-- /.mobile-menu -->


    <nav id="menu" class="stylehome1">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'properties:list' %}">Properties</a></li>
            {% if request.user.is_agent %}
                <li><a href="{% url 'enquiries:list' %}">Enquiries</a></li>
            {% endif %}
            <li><a href="{% url 'agents:list' %}">Agents</a></li>
            <li><a href="{% url 'contacts:contact' %}">Contact</a></li>
            {% if notifications.count %}
                <li>
                    <a data-toggle="modal" data-target=".notification_modal">
                        <span class="badge badge-pill badge-danger">
                            <i class="fa fa-bell-o fa-2x"></i>
                            <span class="badge badge-light">{{notifications.count}}</span>
                        </span>
                    </a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}"><span class="flaticon-edit"></span> Log out</a></li>
                {% if request.user.is_agent %}
                    <li class="cl_btn">
                        <a class="btn btn-block btn-lg btn-thm circle" href="{% url 'properties:create' %}">
                            <span class="flaticon-plus"></span> Add Property
                        </a>
                    </li>
                {% else %}
                    <li class="cl_btn">
                        <a class="btn btn-block btn-thm circle" href="{% url 'enquiries:create' %}">
                            <span class="flaticon-plus"></span> Enquire
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'accounts:login' %}"><span class="flaticon-user"></span> Login</a></li>
                <li><a href="{% url 'accounts:signup' %}"><span class="flaticon-edit"></span> Register</a></li>
            {% endif %}
        </ul>
    </nav>
</div>