{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}
	<!-- Inner Page Breadcrumb -->
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="breadcrumb_content">
						<ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Agent/Agency Registration</li>
						</ol>
						<h1 class="breadcrumb_title">Agent/Agency Registration</h1>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Service Section Area -->
	<section class="our-service pb30">
		<div class="container">
			<div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <a data-toggle="modal" data-target=".agent_modal">
                        <div class="why_chose_us">
                            <div class="icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="details">
                                <h4>Register(Individual)</h4>
                                <p>Register as an Individual Agent</p>
                            </div>
                        </div>
                    </a>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
                    <a href="#" data-toggle="modal" data-target=".agency_modal">
                        <div class="why_chose_us">
                            <div class="icon">
                                <span class="fa fa-users"></span>
                            </div>
                            <div class="details">
                                <h4>Register(Company)</h4>
                                <p>Register as an Agency</p>
                            </div>
                        </div>
                    </a>
				</div>
			</div>
		</div>
	</section>


    <div class="sign_up_modal modal fade agent_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body container pb20">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <div class="login_form">
                                    <form method="post" name="agentForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="notification_message" style="display: none;"></div>

                                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                                        <input type="hidden" id="is_individual" name="is_individual" checked/>

                                        <div class="heading">
                                            <h4>Register(Individual)</h4>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="text" name="business_name" placeholder="Your Name" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="email" name="business_email" placeholder="Your Business Email" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="tel" name="business_phone" placeholder="Business Phone(+2348031234567)" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="file" name="business_logo" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-image"></i></div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-xl-6">
                                                <select id="selected_state" name="state" class="form-control" data-live-search="true" data-width="100%" required>
                                                    <option value="" disabled selected>Select State</option>
                                                    {% for s in states %}
                                                        {% if s == request.user.profile.state %}
                                                            <option value="{{request.user.profile.state}}" selected>{{request.user.profile.state}}</option>
                                                        {% else %}
                                                            <option value="{{s}}">{{s}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-6 col-xl-6">
                                                <select id="selected_city" name="city" class="form-control" data-live-search="true" data-width="100%" required>
                                                    {% if request.user.profile.city %}
                                                        <option value="{{request.user.profile.city}}" disabled selected>{{request.user.profile.city}}</option>
                                                    {% else %}
                                                        <option value="" disabled selected>Select city</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="text" name="street_address" placeholder="Office street address" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-map-pin"></i></div>
                                            </div>
                                        </div>

                                        <button type="button" id="submit-agent-form" class="btn btn-log btn-block btn-thm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#selected_state").on("change", function () {
                    let stateVal = $("#selected_state").val();
                    console.log(stateVal);
                    $.ajax({
                        url: "{% url 'properties:get_cities' %}",
                        type: "post",
                        data: {
                            "state": stateVal,
                            "csrfmiddlewaretoken": "{{csrf_token}}"
                        },
                        dataType: "json",
                        before: function () {
                            console.log(`you are about to send ${stateVal} to backend.`);
                        },
                        success: function (res) {
                            let cities = res.cities;
                            console.log(res.success);
                            $('#selected_city').empty();
                            $.each(cities, function(index, item)
                            {
                                console.log(item);
                                $("#selected_city").append("<option value='"+item +"'>"+item +"</option>");
                            });

                            console.log("worked till here... \n\n\n");
                        }
                    })
                });
            });
        </script>
    </div>


    <div class="sign_up_modal modal fade agency_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body container pb20">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <div class="login_form">
                                    <form method="post" action="" name="agencyForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="notification_message" style="display: none;"></div>
                                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                                        <div class="heading">
                                            <h4>Register(Company/Agency)</h4>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="text" name="business_name" placeholder="Your Business Name" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="email" name="business_email" placeholder="Your Business Email" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="tel" name="business_phone" placeholder="Business Phone(+2348031234567)" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <textarea name="agency_description" rows="4" placeholder="Describe your agency" class="form-control" required></textarea>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="file" name="business_logo" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-image"></i></div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-xl-6">
                                                <select id="agency_selected_state" name="state" class="form-control" data-live-search="true" data-width="100%" required>
                                                    <option value="" disabled selected>Select State</option>
                                                    {% for s in states %}
                                                        {% if s == request.user.profile.state %}
                                                            <option value="{{request.user.profile.state}}" selected>{{request.user.profile.state}}</option>
                                                        {% else %}
                                                            <option value="{{s}}">{{s}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-6 col-xl-6">
                                                <select id="agency_selected_city" name="city" class="form-control" data-live-search="true" data-width="100%" required>
                                                    {% if request.user.profile.city %}
                                                        <option value="{{request.user.profile.city}}" disabled selected>{{request.user.profile.city}}</option>
                                                    {% else %}
                                                        <option value="" disabled selected>Select city</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="input-group mb-2 mr-sm-2">
                                            <input type="text" name="street_address" placeholder="Office street address" class="form-control" required>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-map-pin"></i></div>
                                            </div>
                                        </div>

                                        <button type="button" id="submit-agency-form" class="btn btn-log btn-block btn-thm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#agency_selected_state").on("change", function () {
                    let stateVal = $("#agency_selected_state").val();
                    console.log(stateVal);
                    $.ajax({
                        url: "{% url 'properties:get_cities' %}",
                        type: "post",
                        data: {
                            "state": stateVal,
                            "csrfmiddlewaretoken": "{{csrf_token}}"
                        },
                        dataType: "json",
                        before: function () {
                            console.log(`you are about to send ${stateVal} to backend.`);
                        },
                        success: function (res) {
                            let cities = res.cities;
                            console.log(res.success);
                            $('#agency_selected_city').empty();
                            $.each(cities, function(index, item)
                            {
                                console.log(item);
                                $("#agency_selected_city").append("<option value='"+item +"'>"+item +"</option>");
                            });

                            console.log("worked till here... \n\n\n");
                        }
                    })
                });
            });
        </script>
    </div>

{% endblock %}


{% block js %}
    <!-- Single Agent Form -->
    <script>
        function showNotification(type, message) {
            const notificationDiv = document.querySelector('.notification_message');
            const alertType = {
                'info': 'alert-primary',
                'success': 'alert-success',
                'warning': 'alert-warning',
                'danger': 'alert-danger'
            };

            const alertIcon = {
                'info': 'fa-circle-info fa-shake',
                'success': 'fa-circle-check fa-shake',
                'warning': 'fa-triangle-exclamation fa-shake',
                'danger': 'fa-solid fa-radiation fa-spin'
            };

            const alertHTML = `
                <div class="alert ${alertType[type]} alert-dismissible fade show" role="alert">
                    <i class="fa-solid ${alertIcon[type]}"></i> ${message}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            `;

            notificationDiv.innerHTML = alertHTML;
            notificationDiv.style.display = 'block';
        }
        $(document).ready(function() {
            $("#submit-agent-form").click(function() {
                const notificationDiv = document.querySelector('.notification_message');

                var formData = new FormData($('form[name="agentForm"]')[0]);
                formData.append("is_agentForm", "True"); // Add a flag for agenForm

                $.ajax({
                    url: "{% url 'agents:create' %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        // Handle the success response from the backend
                        console.log("Form submitted successfully");

                        if(data.status === "success"){
                            showSuccessNotification(data.message);
                            showNotification(data.status, data.message);
                            setTimeout(function() {
                                var previousPage = document.referrer;
                                if (previousPage) {
                                    window.location.href = previousPage;
                                } else {
                                    console.log("No previous page to redirect to.");
                                    window.location.href = "{% url 'home' %}";
                                }
                            }, 5000);
                        } else {
                            showErrorNotification(data.message);
                            showNotification(data.status, data.message)
                        }
                    },
                    error: function(error) {
                        // Handle errors
                        console.error("Form submission error:", error);

                        // Display an error message or perform error handling here
                        showErrorNotification(error.message)
                        showNotification(error.status, error.message)
                    }
                });
            });


            $("#submit-agency-form").click(function() {
                var formData = new FormData($('form[name="agencyForm"]')[0]);
                formData.append("is_agentForm", "False"); // Add a flag for agencyForm

                $.ajax({
                    url: "{% url 'agents:create' %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        // Handle the success response from the backend
                        console.log("Form submitted successfully");

                        if(data.status === "success"){
                            showSuccessNotification(data.message);
                            showNotification(data.status, data.message);
                            setTimeout(function() {
                                var previousPage = document.referrer;
                                if (previousPage) {
                                    window.location.href = previousPage;
                                } else {
                                    console.log("No previous page to redirect to.");
                                    window.location.href = "{% url 'home' %}";
                                }
                            }, 5000);
                        } else {
                            showErrorNotification(data.message);
                            showNotification(data.status, data.message)
                        }
                    },
                    error: function(error) {
                        // Handle errors
                        console.error("Form submission error:", error);

                        // Display an error message or perform error handling here
                        showErrorNotification(error.message)
                        showNotification(error.status, error.message)
                    }
                });
            });
        });
    </script>
{% endblock js %}

